
// Стили для страницы библиотеки

.library-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.library-item {
  padding: 16px 0;
  border-bottom: 1px solid #313846;
  &:last-child {
    border-bottom: none;
  }
}
.library-title {
  font-weight: bold;
  color: #4bb6fa;
  font-size: 20px;
}
.library-link {
  font-weight: bold;
  color: #4bb6fa;
  font-size: 20px;
  &:hover {
    color: #6bd0ff;
  }
}
.library-description {
  color: #8891a6;
  font-size: 17px;
  margin-top: 8px;
  line-height: 1.5;
}
.library-main-title {
  margin-bottom: 32px;
  text-align: center;
}
